{{ define "content" }}
<div align="center">
	<h2>Please enter the directory (.csv) path</h2>

	<form action="/addPath" method="post">
		<input type="string" name="csvPath">
		<input type="Submit" value="Submit">
	</form>

</div>
{{end}}
